@charset "UTF-8";

/* 여백 및 기본적인 퐅느를 설정 */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, "MS Trebuchet", sans-serif;
}
/* 페이지의 내용을 가운데에 놓음 */
#wrap {
	width: 960px;
	margin: 0 auto;
}
/* 헤더의 넓이를 정함 */
header#page_header {
	width: 100%;
}
/* 네비게이션 리스트의 점 제거 */
header#page_header nav ul, footer#page_footer nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
} 
/* 네비게이션을 가로 바 형태로 만듬 */
header#page_header nav ul li, footer#page_footer nav ul li {
	padding: 0;
	/*      상  우  하 좌 */
	margin: 0 20px 0 0;
	display: inline;
}
p {
	margin: 0 0 20px 0;
}
/* 가로 방향으로 표시 */
section#posts {
	width: 74%;
	float: left;
}
section#posts aside {
	width: 35%;
	float: right;
	margin-left: 5%;
	font-size: 20px;
	line-height: 40px;
}
section#sidebar {
	float: right;
	width: 25%;
}

/* float를 해제해서 페이지 하단에 안착시킴 */
footer#page_footer {
	clear: both;
	width: 100%;
	text-align: center;
}






